/* /* #{
  background-color: #59c3c3;
}


.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
} */
/* body {
  background: linear-gradient(70deg, #e6e6e6, #f7f7f7);
  color: #514B64;
  min-height: 100vh;
}

code {
  background: #fff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin: 0 0.3rem;
}  */
body{
  background-color:#59c3c3;
  font-size:14px;
  color:#fff;
}
.simple-login-container{
  width:300px;
  max-width:100%;
  margin:50px auto;
}
.simple-login-container h2{
  text-align:center;
  font-size:20px;
}

.simple-login-container .btn-login{
  background-color:#FF5964;
  color:#fff;
}
a{
  color:#fff;
}